<template>
  <VDialog
    v-model="value"
    max-width="600"
    persistent
  >
    <VCard>
      <VCardTitle>
        {{ title }}
        <VSpacer />
        <VBtn
          icon
          @click="close"
        >
          <VIcon>
            mdi-window-close
          </VIcon>
        </VBtn>
      </VCardTitle>
      <VCardText>
        <VAlert
          v-if="isCreatingError || isUpdatingError"
          type="error"
          dismissible
        >
          {{ isCreatingError.message || isUpdatingError.message }}
        </VAlert>
        <VProgressLinear
          v-if="isCreating || isUpdating"
          indeterminate
        />
        <VForm>
          <VTextField
            v-model="form.title"
            :error-messages="titleErrors"
            @input="$v.form.title.$touch()"
            label="Judul"
          />
          <VTextField
            v-model="form.description"
            :error-messages="descriptionErrors"
            @input="$v.form.description.$touch()"
            label="Deskripsi"
          />
          <VTextField
            v-model.number="form.price"
            :error-messages="priceErrors"
            @input="$v.form.price.$touch()"
            label="Harga"
          />
          <BookControl ref="bookControl">
            <template slot-scope="{ loading, error, items }">
              <VAlert
                v-if="error"
                type="error"
                dismissible
              >
                {{ error.message }}
              </VAlert>
              <VProgressLinear
                v-if="loading"
                indeterminate
              />
              <VCombobox
                v-model="form.bookIds"
                multiple
                label="Daftar Buku"
                :items="items"
                small-chips
                deletable-chips
                item-value="id"
                item-text="title"
                :error-messages="bookIdsErrors"
                @change="$v.form.bookIds.$touch()"
              />
            </template>
          </BookControl>
          <FileUpload v-model="form.photo" />
          <VBtn
            v-if="mode === 'create'"
            color="primary"
            :disabled="$v.form.$invalid"
            @click="handleCreate"
          >
            Tambah
          </VBtn>
          <VBtn
            v-else
            color="primary"
            :disabled="$v.form.$invalid"
            @click="handleUpdate"
          >
            Perbarui
          </VBtn>
        </VForm>
      </VCardText>
    </VCard>
  </VDialog>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import FileUpload from '@/components/Layout/FileUpload/FileUpload'
import BookControl from '@/components/Book/BookControl'

export default {
  name: 'PackageFormDialog',

  props: {
    value: {
      type: Boolean,
      required: true
    }
  },

  components: {
    BookControl,
    FileUpload
  },

  data () {
    return {
      mode: 'create'
    }
  },

  computed: {
    ...mapState({
      form: state => state.bookPackage.form,
      isCreating: state => state.bookPackage.isCreating,
      isCreatingError: state => state.bookPackage.isCreatingError,
      isUpdating: state => state.bookPackage.isUpdating,
      isUpdatingError: state => state.bookPackage.isUpdatingError
    }),

    title () {
      return this.mode === 'create' ? 'Tambah Paket' : 'Perbarui Paket'
    },

    titleErrors () {
      const errors = []

      if (!this.$v.form.title.$dirty) return errors

      if (!this.$v.form.title.required) {
        errors.push('Judul harus diisi!')
      }

      return errors
    },

    descriptionErrors () {
      const errors = []

      if (!this.$v.form.description.$dirty) return errors

      if (!this.$v.form.description.required) {
        errors.push('Deskripsi harus diisi!')
      }

      return errors
    },

    priceErrors () {
      const errors = []

      if (!this.$v.form.price.$dirty) return errors

      if (!this.$v.form.price.required) {
        errors.push('Harga harus diisi!')
      }

      return errors
    },

    bookIdsErrors () {
      const errors = []

      if (!this.$v.form.bookIds.$dirty) return errors

      if (!this.$v.form.bookIds.required) {
        errors.push('Daftar buku harus diisi!')
      }

      return errors
    }
  },

  methods: {
    ...mapMutations({
      resetForm: 'bookPackage/resetForm'
    }),

    ...mapActions({
      create: 'bookPackage/create',
      find: 'bookPackage/find',
      edit: 'bookPackage/edit',
      update: 'bookPackage/update',
      get: 'bookPackage/get'
    }),

    async handleCreate () {
      await this.create(this.form)

      if (this.isCreatingError) return

      await this.get()
      this.close()
    },

    async handleUpdate () {
      await this.update(this.form)

      if (this.isUpdatingError) return

      await this.find(this.$route.params.id)
      this.close()
    },

    async editMode (id) {
      this.mode = 'update'
      await this.edit(id)
    },

    close () {
      this.$emit('input', false)
      this.$v.form.$reset()
      this.resetForm()
    }
  },

  validations () {
    if (this.mode === 'create') {
      return {
        form: {
          title: { required },
          description: { required },
          price: { required },
          bookIds: { required },
          photo: { required }
        }
      }
    } else {
      return {
        form: {
          title: { required },
          description: { required },
          price: { required },
          bookIds: { required }
        }
      }
    }
  }
}
</script>
