<template>
  <VDialog
    v-model="value"
    persistent
    max-width="600"
  >
    <VCard>
      <VCardTitle>
        {{ title }}
        <VSpacer />
        <VBtn
          icon
          @click="close"
        >
          <VIcon>mdi-window-close</VIcon>
        </VBtn>
      </VCardTitle>
      <VCardText>
        <VAlert
          v-if="isCreatingError || isUpdatingError"
          type="error"
          dismissible
        >
          {{ isCreatingError ? isCreatingError.message : isUpdatingError.message }}
        </VAlert>
        <VProgressLinear
          v-if="isCreating || isUpdating"
          indeterminate
        />
        <VForm>
          <VTextField
            v-model="form.title"
            label="Judul"
            :error-messages="titleErrors"
            @input="$v.form.title.$touch()"
            required
          />
          <VTextField
            v-model="form.description"
            label="Deskripsi"
            :error-messages="descriptionErrors"
            @input="$v.form.description.$touch()"
            required
          />
          <VBtn
            v-if="mode === 'create'"
            color="primary"
            :disabled="$v.form.$invalid"
            @click="handleCreate"
          >
            Tambah
          </VBtn>
          <VBtn
            v-else
            color="primary"
            :disabled="$v.form.$invalid"
            @click="handleUpdate"
          >
            Perbarui
          </VBtn>
        </VForm>
      </VCardText>
    </VCard>
  </VDialog>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'BookSectionFormDialog',

  props: {
    value: {
      type: Boolean,
      required: true
    }
  },

  computed: {
    ...mapState({
      isCreating: state => state.bookSection.isCreating,
      isCreatingError: state => state.bookSection.isCreatingError,
      isUpdating: state => state.bookSection.isUpdating,
      isUpdatingError: state => state.bookSection.isUpdatingError,
      form: state => state.bookSection.form
    }),

    titleErrors () {
      const errors = []

      if (!this.$v.form.title.$dirty) return errors

      if (!this.$v.form.title.required) {
        errors.push('Judul harus diisi!')
      }

      return errors
    },

    descriptionErrors () {
      const errors = []

      if (!this.$v.form.description.$dirty) return

      if (!this.$v.form.description.required) {
        errors.push('Deskripsi harus diisi!')
      }

      return errors
    },

    title () {
      return this.mode === 'create' ? 'Tambah bagian buku' : 'Perbarui bagian buku'
    }
  },

  data () {
    return {
      mode: 'create'
    }
  },

  methods: {
    ...mapMutations({
      resetForm: 'bookSection/resetForm'
    }),

    ...mapActions({
      create: 'bookSection/create',
      edit: 'bookSection/edit',
      update: 'bookSection/update',
      find: 'book/find'
    }),

    async handleCreate () {
      const payload = {
        ...this.form,
        bookId: this.$route.params.id
      }

      await this.create(payload)

      if (this.isCreatingError) return

      await this.find(this.$route.params.id)
      this.close()
    },

    async handleUpdate () {
      const payload = {
        ...this.form,
        bookId: this.$route.params.id
      }

      await this.update(payload)

      if (this.isUpdatingError) return

      await this.find(this.$route.params.id)
      this.close()
    },

    async editMode (id) {
      await this.edit(id)
      this.mode = 'update'
    },

    close () {
      this.resetForm()
      this.$v.form.$reset()
      this.mode = 'create'
      this.$emit('input', false)
    }
  },

  validations: {
    form: {
      title: { required },
      description: { required }
    }
  }
}
</script>
