<template>
  <div>
    <slot
      :loading="loading"
      :items="items"
      :error="error"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'BookSectionControl',

  props: {
    bookId: {
      required: true
    }
  },

  computed: {
    ...mapState({
      items: state => state.bookSection.sections,
      loading: state => state.bookSection.isFetching,
      error: state => state.bookSection.isFethingError
    })
  },

  methods: {
    ...mapActions({
      get: 'bookSection/get'
    })
  },

  async mounted () {
    await this.get(this.bookId)
  }
}
</script>
