<template>
  <div>
    <VNavigationDrawer
      v-model="isShow"
      app
      temporary
    >
      <VList>
        <VListItem>
          <VListItemIcon>
            <VIcon>mdi-account-circle</VIcon>
          </VListItemIcon>
          <VListItemContent>
            <VListItemTitle>Halo, {{ name }}!</VListItemTitle>
          </VListItemContent>
        </VListItem>
      </VList>
      <VDivider />
      <VList
        nav
        dense
      >
        <VListItemGroup>
          <VListItem
            v-for="route in routes"
            :key="route.to"
          >
            <VListItemTitle @click="$router.push({ name: route.to })">
              {{ route.text }}
            </VListItemTitle>
          </VListItem>
        </VListItemGroup>
      </VList>
    </VNavigationDrawer>
    <VAppBar
      app
      color="primary"
      dark
    >
      <VAppBarNavIcon @click.stop="isShow = !isShow" />
      <div class="d-flex align-center">
        <h3>Hompes Admin</h3>
      </div>
      <VSpacer />
      <VMenu
        offset-y
        left
        bottom
      >
        <template v-slot:activator="{ on }">
          <VBtn
            v-on="on"
            icon
          >
            <VIcon>mdi-dots-vertical</VIcon>
          </VBtn>
        </template>
        <VList>
          <VListItem @click="handleLogout()">
            <VListItemTitle>Keluar</VListItemTitle>
          </VListItem>
        </VList>
      </VMenu>
    </VAppBar>
  </div>
</template>

<script>
export default {
  name: 'AppNavbar',

  computed: {
    name () {
      const name = this.$store.getters['auth/loggedUser'].name
      const splitted = name.split(' ')

      return splitted[0]
    }
  },

  data () {
    return {
      isShow: false,
      routes: [
        {
          text: 'Dashboard',
          to: 'dashboard'
        },
        {
          text: 'Penerbit',
          to: 'publishers.index'
        },
        {
          text: 'Penulis',
          to: 'authors.index'
        },
        {
          text: 'Paket',
          to: 'packages.index'
        },
        {
          text: 'Buku',
          to: 'books.index'
        },
        {
          text: 'Transaksi',
          to: 'transactions.index'
        }
      ]
    }
  },

  methods: {
    handleLogout () {
      this.$store.commit('auth/logout')
      this.$router.push({ name: 'login' })
    }
  }
}
</script>
