<template>
  <VDialog
    v-model="value"
    max-width="600"
    persistent
  >
    <VCard>
      <VCardTitle>
        {{ title }}
        <VSpacer />
        <VBtn
          icon
          @click="close"
        >
          <VIcon>
            mdi-window-close
          </VIcon>
        </VBtn>
      </VCardTitle>
      <VCardText>
        <VAlert
          v-if="isCreatingError || isUpdatingError"
          type="error"
          dismissible
        >
          {{ isCreatingError ? isCreatingError.message : isUpdatingError.message }}
        </VAlert>
        <VProgressLinear
          v-if="isCreating || isUpdating"
          indeterminate
        />
        <VForm>
          <PublisherControl ref="publisherControl">
            <template slot-scope="{ loading, error, items }">
              <VCardText
                v-if="loading || error"
                class="text-center"
              >
                <VProgressLinear
                  v-if="loading"
                  indeterminate
                />
                <VAlert
                  v-if="error"
                  type="error"
                  dismissible
                >
                  {{ error.message }}
                </VAlert>
              </VCardText>
              <VSelect
                v-if="!loading && !error"
                :items="items"
                v-model="item.publisherId"
                label="Penerbit"
                item-text="name"
                item-value="id"
                required
              />
            </template>
          </PublisherControl>
          <VTextField
            v-model="item.title"
            label="Gelar"
            required
          />
          <VTextField
            v-model="item.firstName"
            label="Nama Depan"
            :error-messages="firstNameErrors"
            @input="$v.item.firstName.$touch()"
            required
          />
          <VTextField
            v-model="item.lastName"
            label="Nama Belakang"
            :error-messages="lastNameErrors"
            @input="$v.item.lastName.$touch()"
            required
          />
          <VTextField
            v-model="item.phone"
            label="No. Telepon"
            :error-messages="phoneErrors"
            @input="$v.item.phone.$touch()"
            required
          />
          <VTextField
            v-model="item.email"
            label="Email"
            :error-messages="emailErrors"
            @input="$v.item.email.$touch()"
            :disabled="mode !== 'create'"
            required
          />
          <VBtn
            v-if="mode === 'create'"
            color="primary"
            :disabled="$v.item.$invalid"
            @click="handleCreate"
          >
            Tambah
          </VBtn>
          <VBtn
            v-else
            color="primary"
            :disabled="$v.item.$invalid"
            @click="handleUpdate"
          >
            Perbarui
          </VBtn>
        </VForm>
      </VCardText>
    </VCard>
  </VDialog>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'
import PublisherControl from '@/components/Publisher/PublisherControl'

export default {
  name: 'AuthorFormDialog',

  props: {
    value: {
      type: Boolean,
      required: true
    }
  },

  components: {
    PublisherControl
  },

  computed: {
    ...mapState({
      item: state => state.author.form,
      isCreating: state => state.author.isCreating,
      isUpdating: state => state.author.isUpdating,
      isCreatingError: state => state.author.isCreatingError,
      isUpdatingError: state => state.author.isUpdatingError
    }),

    title () {
      return this.mode === 'create' ? 'Tambah Penulis' : 'Perbarui Data Penulis'
    },

    titleErrors () {
      const errors = []

      if (!this.$v.item.title.$dirty) return errors

      if (!this.$v.item.title.required) {
        errors.push('Gelar harus diisi!')
      }

      return errors
    },

    firstNameErrors () {
      const errors = []

      if (!this.$v.item.firstName.$dirty) return errors

      if (!this.$v.item.firstName.required) {
        errors.push('Nama depan harus diisi!')
      }

      return errors
    },

    lastNameErrors () {
      const errors = []

      if (!this.$v.item.lastName.$dirty) return errors

      if (!this.$v.item.lastName.required) {
        errors.push('Nama belakang harus diisi!')
      }

      return errors
    },

    emailErrors () {
      const errors = []

      if (!this.$v.item.email.$dirty) return errors

      if (!this.$v.item.email.required) {
        errors.push('Email harus diisi!')
      }

      if (!this.$v.item.email.email) {
        errors.push('Format email salah!')
      }

      return errors
    },

    phoneErrors () {
      const errors = []

      if (!this.$v.item.phone.$dirty) return errors

      if (!this.$v.item.phone.required) {
        errors.push('Nomor telepon harus diisi!')
      }

      return errors
    }
  },

  data () {
    return {
      mode: 'create'
    }
  },

  methods: {
    ...mapMutations({
      setForm: 'author/setAuthorForm',
      resetForm: 'author/resetAuthorForm'
    }),

    ...mapActions({
      create: 'author/create',
      find: 'author/find',
      get: 'author/get',
      update: 'author/update'
    }),

    close () {
      this.$emit('input', false)
      this.$v.item.$reset()
      this.resetForm()
      this.mode = 'create'
    },

    async handleCreate () {
      try {
        await this.create(this.item)

        if (this.isCreatingError) return

        await this.get()
        this.close()
      } catch (error) {
        return error
      }
    },

    async handleUpdate () {
      try {
        await this.update(this.item)

        if (this.isUpdatingError) return

        await this.get()
        this.close()
      } catch (error) {
        return error
      }
    },

    async edit (id) {
      await this.find(id)
      this.setForm()
      this.mode = 'update'
    }
  },

  validations: {
    item: {
      firstName: { required },
      lastName: { required },
      title: { required },
      email: {
        required,
        email
      },
      phone: { required },
      publisherId: { required }
    }
  }
}
</script>
