<template>
  <VDialog
    v-model="value"
    max-width="400"
  >
    <VCard>
      <VCardTitle>
        Hapus penulis
      </VCardTitle>
      <VCardText class="text-center">
        <VProgressLinear
          v-if="isDeleting"
          indeterminate
        />
        <VAlert
          v-if="isDeletingError"
          type="error"
          dismissible
        />
        Apakah anda yakin menghapus data penulis?
      </VCardText>
      <VCardActions class="text-center">
        <VBtn
          color="success"
          @click="handleYes"
        >
          Ya
        </VBtn>
        <VBtn
          color="error"
          @click="close"
        >
          Tidak
        </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'PublisherDeleteDialog',

  props: {
    value: {
      type: Boolean,
      required: true
    }
  },

  data () {
    return {
      id: 0
    }
  },

  computed: {
    ...mapState({
      isDeleting: state => state.author.isDeleting,
      isDeletingError: state => state.author.isDeletingError
    })
  },

  methods: {
    ...mapActions({
      delete: 'author/delete',
      get: 'author/get'
    }),

    close () {
      this.$emit('input', false)
    },

    setID (id) {
      this.id = id
    },

    async handleYes () {
      try {
        await this.delete(this.id)
        await this.get()
        this.close()
      } catch (error) {
        return error
      }
    }
  }
}
</script>
