<template>
  <div>
    <VDialog
      v-model="value"
      max-width="500"
      persistent
    >
      <VCard>
        <VCardTitle>
          Detail Penulis
          <VSpacer />
          <VBtn
            icon
            @click="close"
          >
            <VIcon>
              mdi-window-close
            </VIcon>
          </VBtn>
        </VCardTitle>
        <VCardText>
          <table>
            <tbody>
              <tr>
                <td class="font-weight-black">ID</td>
                <td>{{ item.id }}</td>
              </tr>
              <tr>
                <td class="font-weight-black">Gelar</td>
                <td>{{ item.title }}</td>
              </tr>
              <tr>
                <td class="font-weight-black">Nama Depan</td>
                <td>{{ item.firstName }}</td>
              </tr>
              <tr>
                <td class="font-weight-black">Nama Belakang</td>
                <td>{{ item.lastName }}</td>
              </tr>
              <tr>
                <td class="font-weight-black">Nomor Telepon</td>
                <td>{{ item.phone }}</td>
              </tr>
              <tr>
                <td class="font-weight-black">Email</td>
                <td>{{ item.email }}</td>
              </tr>
              <tr>
                <td class="font-weight-black">Penerbit</td>
                <td>{{ item.publisher ? item.publisher.data.name : '' }}</td>
              </tr>
            </tbody>
          </table>
        </VCardText>
        <VCardActions>
          <VSpacer />
          <VBtn
            color="warning"
            @click="handleEdit(item.id)"
          >
            Ubah
          </VBtn>
          <VBtn
            color="error"
            @click="handleDelete(item.id)"
          >
            Hapus
          </VBtn>
        </VCardActions>
      </VCard>
    </VDialog>
    <AuthorFormDialog
      v-model="isShowEdit"
      ref="authorForm"
      @input="close"
    />
    <AuthorDeleteDialog
      v-model="isShowDelete"
      ref="authorDelete"
      @input="close"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import AuthorFormDialog from './AuthorFormDialog'
import AuthorDeleteDialog from './AuthorDeleteDialog'

export default {
  name: 'AuthorDetailDialog',

  props: {
    value: {
      type: Boolean,
      required: true
    }
  },

  components: {
    AuthorDeleteDialog,
    AuthorFormDialog
  },

  computed: {
    ...mapState({
      item: state => state.author.author
    })
  },

  data () {
    return {
      isShowEdit: false,
      isShowDelete: false
    }
  },

  methods: {
    ...mapActions({
      find: 'author/find'
    }),

    async handleEdit (id) {
      await this.$refs.authorForm.edit(id)
      this.isShowEdit = true
    },

    handleDelete (id) {
      this.$refs.authorDelete.setID(id)
      this.isShowDelete = true
    },

    close () {
      this.$emit('input', false)
    },

    async show (id) {
      await this.find(id)
    }
  }
}
</script>

<style scoped>
table tr td {
  padding: 0 8px;
}
</style>
