<template>
  <VDialog
    v-model="value"
    max-width="600"
    persistent
  >
    <VCard>
      <VCardTitle>
        {{ title }}
        <VSpacer />
        <VBtn
          icon
          @click="close"
        >
          <VIcon>
            mdi-window-close
          </VIcon>
        </VBtn>
      </VCardTitle>
      <VCardText>
        <VAlert
          v-if="isCreatingError || isUpdatingError"
          type="error"
        >
          {{ isCreatingError ? isCreatingError.message : isUpdatingError.message }}
        </VAlert>
        <VProgressLinear
          v-if="isCreating || isUpdating"
          indeterminate
        />
        <VForm>
          <VTextField
            v-model="item.name"
            :error-messages="nameErrors"
            @input="$v.item.name.$touch()"
            label="Nama"
            required
          />
          <VTextField
            v-model="item.address"
            :error-messages="addressErrors"
            @input="$v.item.address.$touch()"
            label="Alamat"
            required
          />
          <VTextField
            v-model="item.phone"
            :error-messages="phoneErrors"
            @input="$v.item.phone.$touch()"
            label="No. Telepon"
            required
          />
          <VBtn
            v-if="mode === 'create'"
            color="primary"
            @click="handleCreate"
            :disabled="$v.item.$invalid"
          >
            Tambah
          </VBtn>
          <VBtn
            v-else
            color="primary"
            @click="handleUpdate"
            :disabled="$v.item.$invalid"
          >
            Perbarui
          </VBtn>
        </VForm>
      </VCardText>
    </VCard>
  </VDialog>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'PublisherFormDialog',

  props: {
    value: {
      type: Boolean,
      required: true
    }
  },

  data () {
    return {
      mode: 'create'
    }
  },

  computed: {
    ...mapState({
      isCreating: state => state.publisher.isCreating,
      isCreatingError: state => state.publisher.isCreatingError,
      isUpdating: state => state.publisher.isUpdating,
      isUpdatingError: state => state.publisher.isUpdatingError,
      item: state => state.publisher.publisher
    }),

    nameErrors () {
      const errors = []

      if (!this.$v.item.name.$dirty) return errors

      if (!this.$v.item.name.required) {
        errors.push('Nama harus diisi!')
      }

      return errors
    },

    phoneErrors () {
      const errors = []

      if (!this.$v.item.phone.$dirty) return errors

      if (!this.$v.item.phone.required) {
        errors.push('Nomor Telepon harus diisi!')
      }

      return errors
    },

    addressErrors () {
      const errors = []

      if (!this.$v.item.address.$dirty) return errors

      if (!this.$v.item.address.required) {
        errors.push('Alamat harus diisi!')
      }

      return errors
    },

    title () {
      return this.mode === 'create' ? 'Tambah Penerbit' : 'Perbarui Penerbit'
    }
  },

  methods: {
    ...mapActions({
      create: 'publisher/create',
      find: 'publisher/find',
      get: 'publisher/get',
      update: 'publisher/update'
    }),

    ...mapMutations({
      resetForm: 'publisher/resetPublisherForm'
    }),

    async edit (id) {
      await this.find(id)
      this.mode = 'update'
    },

    async handleCreate () {
      await this.create({ ...this.item })

      if (this.isCreatingError) return

      await this.get()
      this.close()
    },

    async handleUpdate () {
      await this.update({ ...this.item })

      if (this.isUpdatingError) return

      await this.get()
      this.close()
    },

    close () {
      this.$v.$reset()
      this.resetForm()
      this.mode = 'create'
      this.$emit('input', false)
    }
  },

  validations: {
    item: {
      name: { required },
      address: { required },
      phone: { required }
    }
  }
}
</script>

<style scoped>
.detail {
  display: flex;
}
</style>
