<template>
  <div>
    <slot
      :loading="loading"
      :error="error"
      :items="items"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'PublisherControl',

  computed: {
    ...mapState({
      loading: state => state.publisher.isFetching,
      error: state => state.publisher.isFetchingError,
      items: state => state.publisher.publishers
    })
  },

  methods: {
    ...mapActions({
      fetch: 'publisher/get'
    })
  },

  async mounted () {
    await this.fetch()
  }
}
</script>
