<template>
  <VContainer>
    <VToolbar
      flat
    >
      <VToolbarTitle>
        <h3>Penulis</h3>
      </VToolbarTitle>
      <VDivider
        class="mx-4"
        vertical
      />
      <VMenu
        offset-x
        right
        :close-on-content-click="false"
      >
        <template v-slot:activator="{ on }">
          <VBtn
            icon
            v-on="on"
          >
            <VIcon>mdi-magnify</VIcon>
          </VBtn>
        </template>
        <VCardText
          class="py-0"
          outlined
        >
          <VTextField
            v-model="search"
            placeholder="Cari..."
            hide-details
            dense
            solo
            flat
          />
        </VCardText>
      </VMenu>
      <VSpacer />
      <VBtn
        @click="addAuthor"
        color="primary"
      >
        Tambah data penulis
      </VBtn>
    </VToolbar>
    <AuthorControl ref="author">
      <template slot-scope="{ loading, error, items }">
        <VCardText
          v-if="loading || error"
          class="text-center"
          flat
        >
          <VProgressCircular
            v-if="loading"
            indeterminate
          />
          <VAlert
            v-if="error"
            type="error"
            dismissible
          >
            {{ error.message }}
          </VAlert>
        </VCardText>
        <VDataTable
          v-if="!loading && !error"
          :headers="headers"
          :items="items"
          :search="search"
        >
          <template v-slot:item.actions="{ item }">
            <VIcon
              color="warning"
              @click="showDetail(item)"
            >
              mdi-information
            </VIcon>
          </template>
        </VDataTable>
      </template>
    </AuthorControl>
    <AuthorDetailDialog
      ref="authorDetail"
      v-model="isShowDetail"
    />
    <AuthorFormDialog
      ref="authorForm"
      v-model="isShowForm"
    />
  </VContainer>
</template>

<script>
import AuthorControl from '@/components/Author/AuthorControl'
import AuthorDetailDialog from '@/components/Author/AuthorDetailDialog'
import AuthorFormDialog from '@/components/Author/AuthorFormDialog'

export default {
  name: 'Publisher',

  components: {
    AuthorControl,
    AuthorDetailDialog,
    AuthorFormDialog
  },

  data () {
    return {
      search: '',
      isShowDetail: false,
      isShowForm: false,
      headers: [
        {
          text: 'ID',
          value: 'id'
        },
        {
          text: 'Gelar',
          value: 'title'
        },
        {
          text: 'Nama Depan',
          value: 'firstName'
        },
        {
          text: 'Email',
          value: 'email'
        },
        {
          text: 'Aksi',
          value: 'actions'
        }
      ]
    }
  },

  methods: {
    async showDetail (item) {
      await this.$refs.authorDetail.find(item.id)
      this.isShowDetail = true
    },

    addAuthor () {
      this.isShowForm = true
    }
  },

  async mounted () {
    await this.$refs.author.fetch()
  }
}
</script>

<style scoped>
.search-input {
  margin: 0 10px;
  width: 10px !important;
}
</style>
