<template>
  <VContainer>
    <VToolbar flat>
      <VBtn
        text
        @click="$router.go(-1)"
      >
        <VIcon left>mdi-arrow-left</VIcon>kembali
      </VBtn>
      <VSpacer />
      <VBtn
        icon
        @click="isShowConfig = !isShowConfig"
      >
        <VIcon>mdi-settings</VIcon>
      </VBtn>
      <VBtn
        color="primary"
        @click="handleCreate"
        :disabled="$v.form.$invalid"
      >
        Tambah
      </VBtn>
    </VToolbar>
    <VNavigationDrawer
      v-model="isShowConfig"
      app
      right
      width="350"
    >
      <VExpansionPanels
        accordion
      >
        <VExpansionPanel>
          <VExpansionPanelHeader>
            <h4>Bagian Buku</h4>
          </VExpansionPanelHeader>
          <VExpansionPanelContent>
            <BookSectionControl
              :bookId="$route.params.id"
              ref="bookSectionControl"
            >
              <template slot-scope="{ loading, error, items }">
                <VAlert
                  v-if="error"
                  type="error"
                  dismissible
                >
                  {{ error.message }}
                </VAlert>
                <VProgressLinear
                  v-if="loading"
                  indeterminate
                />
                <VSelect
                  v-if="!loading && !error"
                  v-model="form.sectionId"
                  :items="items"
                  label="Bagian Buku"
                  item-value="id"
                  item-text="title"
                />
              </template>
            </BookSectionControl>
          </VExpansionPanelContent>
        </VExpansionPanel>
        <VExpansionPanel>
          <VExpansionPanelHeader>
            <h4>Durasi</h4>
          </VExpansionPanelHeader>
          <VExpansionPanelContent>
            <VTextField
              v-model="form.duration"
              label="Durasi"
              required
              type="number"
            />
            <VSelect
              v-model="form.durationUnit"
              :items="durationUnits"
              label="Satuan Durasi"
              item-value="value"
              item-text="text"
              required
            />
          </VExpansionPanelContent>
        </VExpansionPanel>
      </VExpansionPanels>
    </VNavigationDrawer>
    <VAlert
      v-if="isCreatingError"
      type="error"
      dismissible
    >
      {{ isCreatingError.message }}
    </VAlert>
    <VProgressLinear
      v-if="isCreating"
      indeterminate
    />
    <VForm>
      <VTextField
        v-model="form.title"
        label="Judul"
        @input="$v.form.title.$touch()"
        :error-messages="titleErrors"
        required
      />
      <VueEditor v-model="form.content" />
    </VForm>
    <h3 class="my-3">Pratinjau</h3>
    <div v-html="form.content" />
  </VContainer>
</template>

<script>
import { VueEditor } from 'vue2-editor'
import { mapState, mapActions, mapMutations } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import BookSectionControl from '@/components/BookSection/BookSectionControl'

export default {
  name: 'BookContentCreate',

  components: {
    BookSectionControl,
    VueEditor
  },

  data () {
    return {
      isShowConfig: false,

      durationUnits: [
        {
          text: 'Menit',
          value: 'Menit'
        },
        {
          text: 'Jam',
          value: 'Jam'
        }
      ]
    }
  },

  computed: {
    ...mapState({
      form: state => state.bookContent.form,
      isCreating: state => state.bookContent.isCreating,
      isCreatingError: state => state.bookContent.isCreatingError
    }),

    titleErrors () {
      const errors = []

      if (!this.$v.form.title.$dirty) return errors

      if (!this.$v.form.title.required) {
        errors.push('Judul harus diisi!')
      }

      return errors
    }
  },

  methods: {
    ...mapActions({
      create: 'bookContent/create'
    }),

    ...mapMutations({
      resetForm: 'bookContent/resetForm'
    }),

    async handleCreate () {
      await this.create(this.form)

      if (this.isCreatingError) return
      this.reset()
      this.$router.push({ name: 'books.details', params: { id: this.$route.params.id } })
    },

    reset () {
      this.$v.form.$reset()
      this.resetForm()
    }
  },

  validations: {
    form: {
      title: { required },
      content: { required },
      durationUnit: { required },
      duration: { required },
      sectionId: { required }
    }
  }
}
</script>

<style>
.ql-align-right {
  text-align: right;
}

.ql-align-center {
  text-align: center;
}

.ql-align-justify {
  text-align: justify;
}
</style>
