<template>
  <VContainer>
    <VToolbar flat>
      <VBtn
        text
        @click="$router.push({ name: 'books.index' })"
      >
        <VIcon left>mdi-arrow-left</VIcon>Kembali
      </VBtn>
    </VToolbar>
    <VCardText
      v-if="loading || error"
      class="text-center"
    >
      <VAlert
        v-if="error"
        type="error"
        dismissible
      >
        {{ error.message }}
      </VAlert>
      <VProgressLinear
        v-if="loading"
        indeterminate
      />
    </VCardText>
    <VRow v-else>
      <VCol
        md="4"
        sm="12"
      >
        <VCard>
          <VImg
            height="220"
            :src="image(book.photo)"
          />
          <VCardText>
            <span>Hompes</span>
            <h2>{{ book.title }}</h2>
            <p class="font-weight-medium mt-3">{{ book.description }}</p>
            <VList>
              <VListItem
                v-for="(author, index) in authors"
                :key="index"
                class="pa-0"
              >
                <VListItemIcon class="mr-2">
                  <VIcon>mdi-account-outline</VIcon>
                </VListItemIcon>
                <VListItemContent>
                  <VListItemTitle>{{ author | authorName }}</VListItemTitle>
                </VListItemContent>
              </VListItem>
            </VList>
          </VCardText>
          <VCardActions>
            <VSpacer />
            <VBtn
              text
              @click="showForm(book.id)"
            >
              Ubah
            </VBtn>
          </VCardActions>
        </VCard>
      </VCol>
      <VCol
        md="8"
        sm="12"
      >
        <VToolbar flat>
          <VToolbarTitle>
            Bagian Buku
          </VToolbarTitle>
          <VSpacer />
          <VMenu
            offset-x
            left
            :close-on-content="false"
          >
            <template v-slot:activator="{ on }">
              <VBtn
                icon
                v-on="on"
              >
                <VIcon>mdi-dots-vertical</VIcon>
              </VBtn>
            </template>
            <VCardText class="pa-0">
              <VList>
                <VListItem @click="addSection">
                  <VListItemContent>
                    <VListItemTitle>Tambah bagian baru</VListItemTitle>
                  </VListItemContent>
                </VListItem>
                <VListItem @click="addContent(book.id)">
                  <VListItemContent>
                    <VListItemTitle>Tambah konten baru</VListItemTitle>
                  </VListItemContent>
                </VListItem>
              </VList>
            </VCardText>
          </VMenu>
        </VToolbar>
        <VExpansionPanels
          multiple
          focusable
          flat
        >
          <VExpansionPanel
            v-for="(section, index) in sections"
            :key="section.id"
          >
            <VExpansionPanelHeader class="font-weight-bold">
              Bagian {{ index + 1 }} | {{ section.title }}
            </VExpansionPanelHeader>
            <VExpansionPanelContent>
              <VList
                v-if="section.contents.data.length > 0"
                two-line
              >
                <VListItemGroup>
                  <VListItem
                    v-for="(item, index) in section.contents.data"
                    :key="index"
                  >
                    <VListItemContent>
                      <VListItemTitle>{{ item.title }}</VListItemTitle>
                      <VListItemSubtitle>
                        Durasi: {{ item.duration }} {{ item.duration_unit }}
                      </VListItemSubtitle>
                    </VListItemContent>
                    <VListItemAction>
                      <VBtn
                        text
                        @click="editContent(item.id)"
                      >
                        Ubah
                      </VBtn>
                    </VListItemAction>
                  </VListItem>
                </VListItemGroup>
              </VList>
              <h4
                v-else
                class="text-center pa-1"
              >
                Tidak ada konten buku
              </h4>
              <VBtn
                text
                @click="editSection(section.id)"
              >
                Ubah
              </VBtn>
            </VExpansionPanelContent>
          </VExpansionPanel>
        </VExpansionPanels>
      </VCol>
    </VRow>
    <BookFormDialog
      ref="bookForm"
      v-model="isShowForm"
    />
    <BookSectionFormDialog
      ref="bookSectionForm"
      v-model="isShowSectionForm"
    />
  </VContainer>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { authorName } from '@/filters/name'
import BookFormDialog from '@/components/Book/BookFormDialog'
import BookSectionFormDialog from '@/components/BookSection/BookSectionFormDialog'

export default {
  name: 'BookDetail',

  components: {
    BookFormDialog,
    BookSectionFormDialog
  },

  computed: {
    ...mapState({
      book: state => state.book.book,
      loading: state => state.book.isFinding,
      error: state => state.book.isFindingError
    }),

    authors () {
      return this.book.authors ? this.book.authors.data : []
    },

    sections () {
      return this.book.sections ? this.book.sections.data : []
    }
  },

  data () {
    return {
      isShowForm: false,
      isShowSectionForm: false,

      default: process.env.VUE_APP_DEFAULT_IMAGE
    }
  },

  methods: {
    ...mapActions({
      find: 'book/find'
    }),

    image (src) {
      return src || this.default
    },

    addSection () {
      this.isShowSectionForm = true
    },

    addContent (id) {
      this.$router.push({ name: 'bookContent.create', params: { id: id } })
    },

    editContent (id) {
      this.$router.push({
        name: 'bookContent.edit',
        params: {
          id: this.$route.params.id,
          contentId: id
        }
      })
    },

    toDetailPage (sectionId) {
      this.$router.push({
        name: 'bookSection.details',
        params: {
          bookId: this.$route.params.id,
          sectionId: sectionId
        }
      })
    },

    async editSection (id) {
      await this.$refs.bookSectionForm.editMode(id)
      this.isShowSectionForm = true
    },

    async showForm (id) {
      await this.$refs.bookForm.edit(id)
      this.isShowForm = true
    }
  },

  filters: {
    authorName
  },

  async mounted () {
    await this.find(this.$route.params.id)
  }
}
</script>
