<template>
  <VContainer>
    <VRow>
      <VCol
        :lg="3"
      >
        <VCard>
          <VCardText>
            <VRow>
              <VCol
                :lg="3"
                class="pt-0"
              >
                <VIcon large color="green darken-2">
                  mdi-cash-multiple
                </VIcon>
              </VCol>
              <VCol
                :lg="9"
                class="pa-0"
              >
                <h3 class="mt-0">Jumlah Transaksi</h3>
                <h2 class="mt-2">{{ dashboardReport.transactionAmount }}</h2>
              </VCol>
            </VRow>
          </VCardText>
        </VCard>
      </VCol>
      <VCol
        :lg="3"
      >
        <VCard>
          <VCardText>
            <VRow>
              <VCol
                :lg="3"
                class="pt-0"
              >
                <VIcon large color="red darken-2">
                  mdi-account-box
                </VIcon>
              </VCol>
              <VCol
                :lg="9"
                class="pa-0"
              >
                <h3 class="mt-0">Jumlah Pengguna</h3>
                <h2 class="mt-2">{{ dashboardReport.userAmount }}</h2>
              </VCol>
            </VRow>
          </VCardText>
        </VCard>
      </VCol>
      <VCol
        :lg="3"
      >
        <VCard>
          <VCardText>
            <VRow>
              <VCol
                :lg="3"
                class="pt-0"
              >
                <VIcon large color="blue darken-2">
                  mdi-account-edit
                </VIcon>
              </VCol>
              <VCol
                :lg="9"
                class="pa-0"
              >
                <h3 class="mt-0">Jumlah Penulis</h3>
                <h2 class="mt-2">{{ dashboardReport.authorAmount }}</h2>
              </VCol>
            </VRow>
          </VCardText>
        </VCard>
      </VCol>
      <VCol
        :lg="3"
      >
        <VCard>
          <VCardText>
            <VRow>
              <VCol
                :lg="3"
                class="pt-0"
              >
                <VIcon large color="orange darken-2">
                  mdi-book-open
                </VIcon>
              </VCol>
              <VCol
                :lg="9"
                class="pa-0"
              >
                <h3 class="mt-0">Jumlah Paket Buku</h3>
                <h2 class="mt-2">{{ dashboardReport.packageAmount }}</h2>
              </VCol>
            </VRow>
          </VCardText>
        </VCard>
      </VCol>
    </VRow>
    <VRow>
      <VCol
        :lg="6"
      >
        <VCard>
          <VCardTitle>
            <h5>Laporan Transaksi</h5>
          </VCardTitle>
          <VCardText>
            <canvas ref="transactionChart" width="300" height="300"/>
          </VCardText>
        </VCard>
      </VCol>
      <VCol
        :lg="6"
      >
        <VCard>
          <VCardTitle>
            <h5>Laporan Paket Terpopular</h5>
          </VCardTitle>
          <VCardText>
            <canvas ref="popularChart" width="300" height="300"/>
          </VCardText>
        </VCard>
      </VCol>
    </VRow>
  </VContainer>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Chart from 'chart.js'

export default {
  name: 'Home',

  computed: {
    ...mapState({
      dashboardReport: state => state.report.dashboardReport,
      popularPackages: state => state.report.popularPackages,
      transactionsAmount: state => state.report.transactionsAmount
    })
  },

  data () {
    return {
      popularChart: null,
      transactionChart: null
    }
  },

  methods: {
    ...mapActions({
      getDashboardReport: 'report/getDashboardReport',
      getPopularPackages: 'report/getPopularPackages',
      getTransactionsAmount: 'report/getTransactionsAmount'
    }),

    initPopularChartReport (data) {
      if (data.length === 0) return

      const labels = data.map(item => item.title)
      const values = data.map(item => item.count)
      const context = this.$refs.popularChart.getContext('2d')

      const myChart = new Chart(context, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Jumlah Pembelian Paket',
            data: values,
            backgroundColor: '#3498DB'
          }]
        }
      })

      this.popularChart = myChart
    },

    initTransactionsAmountReport (data) {
      if (data.length === 0) return

      const reports = data.data
      const labels = reports.map(item => item.month)
      const values = reports.map(item => item.amount)
      const context = this.$refs.transactionChart.getContext('2d')

      const myChart = new Chart(context, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Total Transaksi Per Bulan',
            data: values,
            backgroundColor: '#AED581'
          }]
        }
      })

      this.transactionChart = myChart
    }
  },

  async mounted () {
    await this.getDashboardReport()
    await this.getPopularPackages()
    await this.getTransactionsAmount()

    this.initTransactionsAmountReport(this.transactionsAmount)
    this.initPopularChartReport(this.popularPackages)
  }
}
</script>
