<template>
  <VContainer
    fluid
    fill-height
  >
    <VRow
      align="center"
      justify="center"
    >
      <VCol
        md="4"
        sm="6"
      >
        <VCard
          outlined
        >
          <VCardTitle>
            Masuk Ke Hompes Admin
          </VCardTitle>
          <VCardText>
            <VAlert
              v-if="isAuthenticatingError"
              type="error"
              dismissible
            >
              Salah email atau password
            </VAlert>
            <div class="text-center">
              <VProgressLinear
                v-if="isAuthenticating"
                indeterminate
              />
            </div>
            <VForm>
              <VTextField
                v-model="form.email"
                placeholder="john@doe.com"
                :error-messages="emailErrors"
                @input="$v.form.email.$touch()"
                required
              />
              <VTextField
                v-model="form.password"
                type="password"
                :error-messages="passwordErrors"
                placeholder="Kata sandi anda"
                @input="$v.form.password.$touch()"
                @keypress.enter="handleLogin"
                required
              />
              <VBtn
                color="primary"
                block
                @click="handleLogin"
                :disabled="$v.form.$invalid"
              >
                Masuk
              </VBtn>
            </VForm>
          </VCardText>
        </VCard>
      </VCol>
    </VRow>
  </VContainer>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'

export default {
  name: 'Login',

  data () {
    return {
      form: {
        email: '',
        password: ''
      }
    }
  },

  computed: {
    ...mapGetters({
      isAuthenticating: 'auth/isAuthenticating',
      isAuthenticatingError: 'auth/isAuthenticatingError'
    }),

    emailErrors () {
      const errors = []

      if (!this.$v.form.email.$dirty) return errors

      if (!this.$v.form.email.required) {
        errors.push('Email is required')
      }

      return errors
    },

    passwordErrors () {
      const errors = []

      if (!this.$v.form.password.$dirty) return errors

      if (!this.$v.form.password.required) {
        errors.push('Password is required')
      }

      return errors
    }
  },

  methods: {
    async handleLogin () {
      try {
        await this.$store.dispatch('auth/auth', this.form)

        this.$router.push({ name: 'dashboard' })
      } catch (error) {
        return error
      }
    }
  },

  validations: {
    form: {
      email: { required },
      password: { required }
    }
  }
}
</script>
