<template>
  <VContainer>
    <VToolbar flat>
      <VToolbarTitle>
        <h3>Paket</h3>
      </VToolbarTitle>
      <VDivider
        class="mx-4"
        vertical
      />
      <VMenu
        offset-x
        right
        :close-on-content-click="false"
      >
        <template v-slot:activator="{ on }">
          <VBtn
            icon
            v-on="on"
          >
            <VIcon>mdi-magnify</VIcon>
          </VBtn>
        </template>
        <VCardText
          class="py-0"
          outlined
        >
          <VTextField
            v-model="search"
            placeholder="Cari..."
            hide-details
            dense
            solo
            flat
          />
        </VCardText>
      </VMenu>
      <VSpacer />
      <VBtn
        @click="addPackage"
        color="primary"
      >
        Tambah Paket
      </VBtn>
    </VToolbar>
    <PackageControl ref="package">
      <template slot-scope="{ items, loading, error }">
        <VCardText
          v-if="error || loading"
          class="text-center"
        >
          <VAlert
            v-if="error"
            type="error"
            dismissible
          >
            {{ error.message }}
          </VAlert>
          <VProgressLinear
            v-if="loading"
            indeterminate
          />
        </VCardText>
        <VDataIterator
          :items="items"
          :search="search"
        >
          <template v-slot:default="props">
            <VRow>
              <VCol
                v-for="item in props.items"
                :key="item.id"
                md="4"
                sm="6"
              >
                <VCard>
                  <VCardTitle>
                    {{ item.title }}
                  </VCardTitle>
                  <VImg
                    height="220"
                    :src="image(item.photo)"
                  />
                  <VCardText>
                    <p class="font-weight-medium">{{ item.description }}</p>
                    <p class="font-weight-medium">{{ item.price | rupiah }}</p>
                  </VCardText>
                  <VCardActions>
                    <VSpacer />
                    <VBtn
                      text
                      @click="toDetailPage(item.id)"
                    >
                      Detail
                    </VBtn>
                  </VCardActions>
                </VCard>
              </VCol>
            </VRow>
          </template>
        </VDataIterator>
      </template>
    </PackageControl>
    <PackageFormDialog
      v-model="isShowForm"
      ref="packageForm"
    />
  </VContainer>
</template>

<script>
import PackageControl from '@/components/Package/PackageControl'
import PackageFormDialog from '@/components/Package/PackageFormDialog'
import { rupiah } from '@/filters/currency'

export default {
  name: 'Package',

  components: {
    PackageControl,
    PackageFormDialog
  },

  data () {
    return {
      isShowForm: false,

      search: '',
      default: process.env.VUE_APP_DEFAULT_IMAGE
    }
  },

  methods: {
    addPackage () {
      this.isShowForm = true
    },

    image (src) {
      return src || this.default
    },

    toDetailPage (id) {
      this.$router.push({ name: 'packages.detail', params: { id: id } })
    }
  },

  filters: {
    rupiah
  }
}
</script>
