<template>
  <VContainer>
    <VToolbar flat>
      <VBtn
        text
        @click="$router.go(-1)"
      >
        <VIcon>mdi-arrow-left</VIcon>kembali
      </VBtn>
      <VSpacer />
      <VBtn
        color="primary"
        @click="editPackage(item.id)"
      >
        Ubah Paket
      </VBtn>
    </VToolbar>
    <VRow>
      <VCol
        md="4"
        sm="12"
      >
        <VCard>
          <VImg
            height="220"
            :src="image(item.photo)"
          />
          <VCardText>
            <span>Hompes</span>
            <h2>{{ item.title }}</h2>
            <p class="font-weight-medium mt-3">{{ item.description }}</p>
            <p>
              {{ item.price | rupiah }} | {{ books.length }} {{ books.length > 1 ? 'books' : 'book' }}
            </p>
          </VCardText>
        </VCard>
      </VCol>
      <VCol
        md="8"
        sm="12"
      >
        <VToolbar flat>
          <VToolbarTitle>
            Daftar Buku
          </VToolbarTitle>
        </VToolbar>
        <VExpansionPanels
          multiple
          focusable
          flat
        >
          <VExpansionPanel
            v-for="(book, index) in books"
            :key="index"
          >
            <VExpansionPanelHeader class="font-weight-bold">
              {{ book.title }}
            </VExpansionPanelHeader>
            <VExpansionPanelContent>
              <p class="mt-2">{{ book.description }}</p>
            </VExpansionPanelContent>
          </VExpansionPanel>
        </VExpansionPanels>
      </VCol>
    </VRow>
    <PackageFormDialog
      v-model="isShowForm"
      ref="packageForm"
    />
  </VContainer>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { rupiah } from '@/filters/currency'
import PackageFormDialog from '@/components/Package/PackageFormDialog'

export default {
  name: 'PackageDetail',

  components: {
    PackageFormDialog
  },

  computed: {
    ...mapState({
      item: state => state.bookPackage.item,
      loading: state => state.bookPackage.isFinding,
      error: state => state.bookPackage.isFindingError
    }),

    books () {
      return this.item.books ? this.item.books.data : []
    }
  },

  data () {
    return {
      isShowForm: false,
      default: process.env.VUE_APP_DEFAULT_IMAGE
    }
  },

  methods: {
    ...mapActions({
      find: 'bookPackage/find'
    }),

    async editPackage (id) {
      await this.$refs.packageForm.editMode(id)
      this.isShowForm = true
    },

    image (src) {
      return src || this.default
    }
  },

  filters: {
    rupiah
  },

  async mounted () {
    await this.find(this.$route.params.id)
  }
}
</script>
