<template>
  <VContainer>
    <VToolbar
      flat
    >
      <VToolbarTitle>
        <h3>Penerbit</h3>
      </VToolbarTitle>
      <VDivider
        class="mx-4"
        vertical
      />
      <VMenu
        offset-x
        right
        :close-on-content-click="false"
      >
        <template v-slot:activator="{ on }">
          <VBtn
            icon
            v-on="on"
          >
            <VIcon>mdi-magnify</VIcon>
          </VBtn>
        </template>
        <VCardText
          class="py-0"
          outlined
        >
          <VTextField
            v-model="search"
            placeholder="Cari..."
            hide-details
            dense
            solo
            flat
          />
        </VCardText>
      </VMenu>
      <VSpacer />
      <VBtn
        @click="addPublisher"
        color="primary"
      >
        Tambah penerbit baru
      </VBtn>
    </VToolbar>
    <PublisherControl ref="publisher">
      <template slot-scope="{ loading, error, items }">
        <VCardText
          v-if="loading || error"
          class="text-center"
          flat
        >
          <VProgressCircular
            v-if="loading"
            indeterminate
          />
          <VAlert
            v-if="error"
            type="error"
            dismissible
          >
            {{ error.message }}
          </VAlert>
        </VCardText>
        <VDataTable
          v-if="!loading && !error"
          :headers="headers"
          :items="items"
          :search="search"
        >
          <template v-slot:item.actions="{ item }">
            <VIcon
              color="warning"
              @click="handleEdit(item)"
            >
              mdi-pencil
            </VIcon>
            <VIcon
              color="error"
              @click="handleDelete(item)"
            >
              mdi-delete
            </VIcon>
          </template>
        </VDataTable>
      </template>
    </PublisherControl>
    <PublisherFormDialog
      v-model="isShowForm"
      ref="publisherDetail"
    />
    <PublisherDeleteDialog
      v-model="isShowDelete"
      ref="publisherDelete"
    />
  </VContainer>
</template>

<script>
import PublisherControl from '@/components/Publisher/PublisherControl'
import PublisherFormDialog from '@/components/Publisher/PublisherFormDialog'
import PublisherDeleteDialog from '@/components/Publisher/PublisherDeleteDialog'

export default {
  name: 'Publisher',

  components: {
    PublisherControl,
    PublisherFormDialog,
    PublisherDeleteDialog
  },

  data () {
    return {
      search: '',
      isShowForm: false,
      isShowDelete: false,
      headers: [
        {
          text: 'ID',
          value: 'id'
        },
        {
          text: 'Nama',
          value: 'name'
        },
        {
          text: 'No. Telepon',
          value: 'phone'
        },
        {
          text: 'Alamat',
          value: 'address'
        },
        {
          text: 'Aksi',
          value: 'actions'
        }
      ]
    }
  },

  methods: {
    async showDetail (item) {
      await this.$refs.publisherDetail.find(item.id)
      this.isShow = true
    },

    async handleEdit (item) {
      await this.$refs.publisherDetail.edit(item.id)
      this.isShowForm = true
    },

    handleDelete (item) {
      this.$refs.publisherDelete.setID(item.id)
      this.isShowDelete = true
    },

    addPublisher () {
      this.isShowForm = true
    }
  }
}
</script>

<style scoped>
.search-input {
  margin: 0 10px;
  width: 10px !important;
}
</style>
