<template>
  <VContainer class="px-2">
    <VToolbar flat>
      <VBtn
        text
        @click="$router.go(-1)"
      >
        <VIcon>mdi-arrow-left</VIcon>Kembali
      </VBtn>
    </VToolbar>
    <VProgressLinear
      v-if="loading"
      indeterminate
    />
    <VCard
      v-if="!loading"
      class="pa-5"
    >
      <div class="amount">
        <span class="subtitle-2">Jumlah</span>
        <p class="display-3">{{ transaction.amount | rupiah }}</p>
      </div>
      <VRow>
        <VCol
          md="4"
          sm="12"
        >
          <p class="font-weight-black">Nomor Transaksi</p>
          <p>{{ transaction.number }}</p>
        </VCol>
        <VCol
          md="4"
          sm="12"
        >
          <p class="font-weight-black">Tanggal</p>
          <p>{{ transaction.conductedAt }}</p>
        </VCol>
        <VCol
          md="4"
          sm="12"
        >
          <p class="font-weight-black">Status</p>
          <p>{{ transaction.status.data.name }}</p>
        </VCol>
      </VRow>
      <VRow>
        <VCol
          md="4"
          sm="12"
        >
          <p class="font-weight-black">Judul Paket</p>
          <p>{{ item.title }}</p>
        </VCol>
        <VCol
          md="4"
          sm="12"
        >
          <p class="font-weight-black">Deskripsi Paket</p>
          <p>{{ item.description }}</p>
        </VCol>
        <VCol
          md="4"
          sm="12"
        >
          <p class="font-weight-black">Kode Unik</p>
          <p>{{ transaction.uniqueCode }}</p>
        </VCol>
      </VRow>
    </VCard>
    <VToolbar flat class="mt-2">
      <VToolbarTitle>Pembayaran</VToolbarTitle>
    </VToolbar>
    <VDataTable
      v-if="!loading"
      :items="confirmations"
      :headers="headers"
    >
      <template v-slot:item.amount="{ item }">
        {{ item.amount | rupiah }}
      </template>
      <template v-slot:item.conductedAt="{ item }">
        {{ item.conductedAt | date }}
      </template>
      <template v-slot:item.isApproved="{ item }">
        <VChip
          v-if="item.isApproved"
          color="success"
        >
          Sudah Disetujui
        </VChip>
        <VChip
          v-else
          color="error"
        >
          Belum Disetujui
        </VChip>
      </template>
      <template v-slot:item.actions="{ item }">
        <VIcon
          color="warning"
          @click="showDetail(item.id)"
        >
          mdi-information
        </VIcon>
        <TransactionPaymentDetailDialog
          ref="payment"
          v-model="isShow"
          @done="find($route.params.id)"
        />
      </template>
    </VDataTable>
  </VContainer>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { rupiah } from '@/filters/currency'
import { date } from '@/filters/date'
import TransactionPaymentDetailDialog from '@/components/Transaction/TransactionPaymentDetailDialog'

export default {
  name: 'TransactionDetail',

  components: {
    TransactionPaymentDetailDialog
  },

  data () {
    return {
      isShow: false,
      headers: [
        {
          text: 'ID',
          value: 'id'
        },
        {
          text: 'Jumlah',
          value: 'amount'
        },
        {
          text: 'Tanggal',
          value: 'conductedAt'
        },
        {
          text: 'Status',
          value: 'isApproved'
        },
        {
          text: 'Aksi',
          value: 'actions'
        }
      ]
    }
  },

  computed: {
    ...mapState({
      loading: state => state.transaction.isFinding,
      error: state => state.transaction.isFindingError,
      transaction: state => state.transaction.transaction
    }),

    item () {
      return this.transaction.item ? this.transaction.item.data : {}
    },

    confirmations () {
      return this.transaction.confirmations ? this.transaction.confirmations.data : []
    }
  },

  methods: {
    ...mapActions({
      find: 'transaction/find'
    }),

    async showDetail (item) {
      await this.$refs.payment.show(item)
      this.isShow = true
    }
  },

  filters: {
    date,
    rupiah
  },

  async mounted () {
    await this.find(this.$route.params.id)
  }
}
</script>
