<template>
  <VContainer>
    <VToolbar
      flat
    >
      <VToolbarTitle>
        <h3>Transaksi</h3>
      </VToolbarTitle>
      <VDivider
        class="mx-4"
        vertical
      />
      <VMenu
        offset-x
        right
        :close-on-content-click="false"
      >
        <template v-slot:activator="{ on }">
          <VBtn
            icon
            v-on="on"
          >
            <VIcon>mdi-magnify</VIcon>
          </VBtn>
        </template>
        <VCardText
          class="py-0"
          outlined
        >
          <VTextField
            v-model="search"
            placeholder="Cari..."
            hide-details
            dense
            solo
            flat
          />
        </VCardText>
      </VMenu>
    </VToolbar>
    <TransactionControl ref="transaction">
      <template slot-scope="{ loading, error, items }">
        <VCardText
          v-if="loading || error"
          class="text-center"
        >
          <VAlert
            v-if="error"
            type="error"
            dismissible
          >
            {{ error.message }}
          </VAlert>
          <VProgressLinear
            v-if="loading"
            indeterminate
          />
        </VCardText>
        <VDataTable
          v-if="!loading && !error"
          :items="items"
          :headers="headers"
          :search="search"
        >
          <template v-slot:item.amount="{ item }">
            {{ item.amount | rupiah }}
          </template>
          <template v-slot:item.status="{ item }">
            <b>{{ item.status.data.name }}</b>
          </template>
          <template v-slot:item.conductedAt="{ item }">
            {{ item.conductedAt | date }}
          </template>
          <template v-slot:item.actions="{ item }">
            <VIcon
              color="warning"
              @click="toDetailPage(item.id)"
            >
              mdi-information
            </VIcon>
          </template>
        </VDataTable>
      </template>
    </TransactionControl>
  </VContainer>
</template>

<script>
import { date } from '@/filters/date'
import { rupiah } from '@/filters/currency'
import TransactionControl from '@/components/Transaction/TransactionControl'

export default {
  name: 'Transaction',

  components: {
    TransactionControl
  },

  data () {
    return {
      search: '',
      headers: [
        {
          text: 'No. Transaksi',
          value: 'number'
        },
        {
          text: 'Jumlah',
          value: 'amount'
        },
        {
          text: 'Status',
          value: 'status'
        },
        {
          text: 'Tanggal',
          value: 'conductedAt'
        },
        {
          text: 'Aksi',
          value: 'actions'
        }
      ]
    }
  },

  methods: {
    toDetailPage (id) {
      this.$router.push({ name: 'transactions.details', params: { id: id } })
    }
  },

  filters: {
    date,
    rupiah
  }
}
</script>
