<template>
  <div class="file-upload mb-3">
    <VAlert
      v-if="error"
      type="error"
      dismissible
    >
      {{ error.message }}
    </VAlert>
    <VProgressLinear
      v-if="loading"
      indeterminate
    />
    <span v-if="success">
      <VIcon>mdi-file-outline</VIcon>
      {{ name }}
    </span>
    <VFileInput
      v-if="!loading && !error && !success"
      label="File"
      @change="uploadFile"
    />
  </div>
</template>

<script>
import fileService from '@/services/file'

export default {
  name: 'FileUpload',

  props: {
    value: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      error: null,
      loading: false,
      success: false,
      name: ''
    }
  },

  methods: {
    async uploadFile (file) {
      try {
        this.loading = true

        const res = await fileService.upload(file)

        this.$emit('input', res.name)
        this.uploadSuccess(res)
      } catch (error) {
        this.uploadError(error)
      }
    },

    uploadSuccess (res) {
      this.success = true
      this.name = res.name
      this.error = null
      this.loading = false
    },

    uploadError (error) {
      this.loading = false
      this.error = error
    },

    reset () {
      this.error = null
      this.loading = false
      this.success = false
      this.name = ''
    }
  }
}
</script>
