<template>
  <VApp>
    <AppNavbar v-if="!isLoginPage" />
    <VContent>
      <router-view />
    </VContent>
  </VApp>
</template>

<script>
import AppNavbar from '@/components/Layout/AppNavbar/AppNavbar'

export default {
  name: 'App',

  components: {
    AppNavbar
  },

  computed: {
    isLoginPage () {
      return this.$route.name === 'login'
    }
  }
}
</script>
