<template>
  <VDialog
    v-model="value"
    max-width="500"
    persistent
  >
    <VCard>
      <VCardTitle>
        Detail Pembayaran
        <VSpacer />
        <VBtn
          @click="close"
          icon
        >
          <VIcon>mdi-window-close</VIcon>
        </VBtn>
      </VCardTitle>
      <VAlert
        v-if="error"
        type="error"
        dismissible
      >
        {{ error.message }}
      </VAlert>
      <VProgressLinear
        v-if="loading"
        intedeterminate
      />
      <VImg
        height="220"
        :src="image(payment.path)"
      />
      <VCardText>
        <VRow>
          <VCol
            md="4"
            sm="12"
          >
            <p class="font-weight-bold">Nama Bank</p>
            <p>{{ payment.bankName }}</p>
          </VCol>
          <VCol
            md="4"
            sm="12"
          >
            <p class="font-weight-bold">Nama Pengirim</p>
            <p>{{ payment.senderName }}</p>
          </VCol>
          <VCol
            md="4"
            sm="12"
          >
            <p class="font-weight-bold">Jumlah</p>
            <p>{{ payment.amount | rupiah }}</p>
          </VCol>
        </VRow>
        <VRow>
          <VCol
            md="4"
            sm="12"
          >
            <p class="font-weight-bold">Tanggal</p>
            <p>{{ payment.conductedAt | date }}</p>
          </VCol>
        </VRow>
      </VCardText>
      <VCardActions>
        <VSpacer />
        <VBtn
          color="primary"
          :disabled="payment.isApproved"
          @click="showPrompt"
        >
          Setujui
        </VBtn>
      </VCardActions>
    </VCard>
    <VDialog
      v-model="isShowPrompt"
      max-width="450"
      persistent
    >
      <VCard class="pa-3">
        <VCardText class="pt-4 text-center">
          <VProgressLinear
            v-if="isApproving"
            indeterminate
          />
          <VAlert
            v-if="isApprovingError"
            type="error"
            dismissible
          >
            {{ isApprovingError.message }}
          </VAlert>
          <h2
            v-if="!isApprovingError || !isApproving"
          >
            Apakah anda menyetujui pembayaran ini?
          </h2>
        </VCardText>
        <VCardActions>
          <VSpacer />
          <VBtn
            color="success"
            @click="handleApprove"
          >
            Ya
          </VBtn>
          <VBtn
            color="error"
            @click="isShowPrompt = !isShowPrompt"
          >
            Tidak
          </VBtn>
        </VCardActions>
      </VCard>
    </VDialog>
  </VDialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { rupiah } from '@/filters/currency'
import { date } from '@/filters/date'

export default {
  name: 'TransactionPaymentDetailDialog',

  props: {
    value: {
      type: Boolean,
      required: true
    }
  },

  computed: {
    ...mapState({
      payment: state => state.transaction.payment,
      loading: state => state.transaction.isFindingPayment,
      error: state => state.transaction.isFindingPaymentError,
      isApproving: state => state.transaction.isApprovePayment,
      isApprovingError: state => state.transaction.isApprovingError
    })
  },

  data () {
    return {
      cdn: process.env.VUE_APP_CDN_URL,
      default: process.env.VUE_APP_DEFAULT_IMAGE,

      isShowPrompt: false
    }
  },

  methods: {
    ...mapActions({
      findPayment: 'transaction/findPayment',
      approvePayment: 'transaction/approvePayment'
    }),

    async show (id) {
      await this.findPayment(id)
    },

    async handleApprove () {
      await this.approvePayment(this.payment.id)

      if (this.isApprovingError) return

      this.$emit('done')
      this.close()
    },

    showPrompt () {
      this.isShowPrompt = true
    },

    image (src) {
      return src ? `${this.cdn}/${src}` : this.default
    },

    close () {
      this.$emit('input', false)
    }
  },

  filters: {
    date,
    rupiah
  }
}
</script>
