<template>
  <div>
    <slot
      :items="items"
      :loading="loading"
      :error="error"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'BookControl',

  computed: {
    ...mapState({
      loading: state => state.book.isFetching,
      error: state => state.book.isFetchingError,
      items: state => state.book.books
    })
  },

  methods: {
    ...mapActions({
      get: 'book/get'
    })
  },

  async mounted () {
    await this.get()
  }
}
</script>
