<template>
  <VDialog
    v-model="value"
    persistent
    max-width="600"
  >
    <VCard>
      <VCardTitle>
        {{ title }}
        <VSpacer />
        <VBtn
          icon
          @click="close"
        >
          <VIcon>
            mdi-window-close
          </VIcon>
        </VBtn>
      </VCardTitle>
      <VCardText>
        <VAlert
          v-if="isCreatingError || isUpdatingError"
          type="error"
          dismissible
        >
          {{ isCreatingError ? isCreatingError.message : isUpdatingError.message }}
        </VAlert>
        <VProgressLinear
          v-if="isCreating || isUpdating"
          indeterminate
        />
        <VForm>
          <VTextField
            v-model="form.title"
            label="Judul"
            :error-messages="titleErrors"
            @input="$v.form.title.$touch()"
            required
          />
          <VTextField
            v-model="form.description"
            label="Deskripsi"
            :error-messages="descriptionErrors"
            @input="$v.form.description.$touch()"
            required
          />
          <AuthorControl ref="author">
            <template slot-scope="{ loading, error, items }">
              <VAlert
                v-if="error"
                type="error"
                dismissible
              >
                {{ error.message }}
              </VAlert>
              <VProgressLinear
                v-if="loading"
                indeterminate
              />
              <VSelect
                v-model="form.authorIds"
                :items="items"
                label="Penulis"
                item-value="id"
                item-text="firstName"
                :error-messages="authorErrors"
                @change="$v.form.authorIds.$touch()"
                multiple
              />
            </template>
          </AuthorControl>
          <VTextField
            v-model.number="form.price"
            label="Harga"
            :error-messages="priceErrors"
            @input="$v.form.price.$touch()"
            required
          />
          <FileUpload
            ref="fileForm"
            v-model="form.photo"
          />
          <VBtn
            v-if="mode === 'create'"
            color="primary"
            @click="handleSubmit"
            :disabled="$v.form.$invalid"
          >
            Tambah
          </VBtn>
          <VBtn
            v-else
            color="primary"
            @click="handleUpdate"
            :disabled="$v.form.$invalid"
          >
            Perbarui
          </VBtn>
        </VForm>
      </VCardText>
    </VCard>
  </VDialog>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import FileUpload from '@/components/Layout/FileUpload/FileUpload'
import AuthorControl from '@/components/Author/AuthorControl'

export default {
  name: 'BookFormDialog',

  props: {
    value: {
      type: Boolean,
      required: true
    }
  },

  components: {
    AuthorControl,
    FileUpload
  },

  computed: {
    ...mapState({
      form: state => state.book.form,
      isCreating: state => state.book.isCreating,
      isCreatingError: state => state.book.isCreatingError,
      isUpdating: state => state.book.isUpdating,
      isUpdatingError: state => state.book.isUpdatingError
    }),

    titleErrors () {
      const errors = []

      if (!this.$v.form.title.$dirty) return errors

      if (!this.$v.form.title.required) {
        errors.push('Judul harus diisi!')
      }

      return errors
    },

    descriptionErrors () {
      const errors = []

      if (!this.$v.form.description.$dirty) return errors

      if (!this.$v.form.description.required) {
        errors.push('Deskripsi harus diisi!')
      }

      return errors
    },

    priceErrors () {
      const errors = []

      if (!this.$v.form.price.$dirty) return errors

      if (!this.$v.form.price.required) {
        errors.push('Harga harus diisi!')
      }

      return errors
    },

    authorErrors () {
      const errors = []

      if (!this.$v.form.authorIds.$dirty) return errors

      if (!this.$v.form.authorIds.required) {
        errors.push('Penulis harus diisi!')
      }

      return errors
    },

    title () {
      return this.mode === 'create' ? 'Tambah Buku' : 'Perbarui Buku'
    }
  },

  data () {
    return {
      mode: 'create'
    }
  },

  methods: {
    ...mapMutations({
      resetForm: 'book/resetForm'
    }),

    ...mapActions({
      get: 'book/get',
      store: 'book/create',
      editBook: 'book/edit',
      update: 'book/update',
      find: 'book/find'
    }),

    async handleSubmit () {
      await this.store(this.form)

      if (this.isCreatingError) return

      await this.get()
      this.close()
    },

    async handleUpdate () {
      await this.update(this.form)

      if (this.isCreatingError) return

      await this.find(this.form.id)
      this.close()
    },

    async edit (id) {
      await this.editBook(id)
      this.mode = 'update'
    },

    close () {
      this.resetForm()
      this.$v.form.$reset()
      this.mode = 'create'
      this.$emit('input', false)
      this.$refs.fileForm.reset()
    }
  },

  validations () {
    if (this.mode === 'create') {
      return {
        form: {
          title: { required },
          description: { required },
          price: { required },
          authorIds: { required },
          photo: { required }
        }
      }
    } else {
      return {
        form: {
          title: { required },
          description: { required },
          price: { required },
          authorIds: { required }
        }
      }
    }
  }
}
</script>
